function selectTier(name, invest, daily) {
  document.getElementById("tierName").innerText = name;
  document.getElementById("investment").innerText = invest;
  document.getElementById("daily").innerText = daily;
  document.getElementById("monthly").innerText = daily * 30;

  document.getElementById("dashboard").scrollIntoView({
    behavior: "smooth"
  });
}
